body {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;  
}
//base 
.section-inner {
  width: 80%;
  margin: 120px auto;
}
.section-title {
  text-align: center;
  margin-bottom: 50px;
  h2 {
    font-size: 40px;
    letter-spacing: 0.05em;
    text-shadow: 3px 3px 3px #7e7b7b; 
  }
}
.btn {
  background-color: #c4c4c4;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #7e7b7b;
  margin-top: 50px;  
  width: 150px;
  a {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    letter-spacing: 0.05em;
  }
  &:hover {
    opacity: 0.8;
    transition: 0.3s;
  }
}
.brsp {
  display: none;
}
.header {
  width: 100%; 
  position: fixed;
  z-index: 1000;    
}
.header-container {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.site-logo {
  width: 10%;  
}
.site-logo-black {
  width: 10%;
}
.nav-item {
  display: flex;
  justify-content: space-between;
}
.nav-list {
  margin-left: 30px;
  a {
    color: #fff;
  }
}
.nav.black {
  .nav-list a {
    color: #000;
  }
}
// mv
.mv-img {
  background-image: url(../img/web_top.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  h1 {
    color: #fff;
    text-align: center;
    letter-spacing: 0.08em;
    font-size: 50px;
    line-height: 400px;
    text-shadow: 5px 5px 5px #7e7b7b;       
  }
}
// concept
.concept-content {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.my-photo {
  width: 30%;  
}
.concept-text {  
  width: 50%;
  text-align: left;
  padding: 20px 20px;
  h3 {    
    font-size: 18px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    line-height: 1.9;
  }
  p {
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 1.9;    
  }  
}
// profile
.profile-content {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.my-photo {
  width: 30%;  
}
.radius {
  border-radius: 50%;
}
.profile-text {  
  width: 50%;
  text-align: left;
  padding: 20px 20px;
  h3 {      
    font-size: 18px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    line-height: 1.9;    
    font-weight: normal;
  }
  p {
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 1.9;  
    margin-bottom: 20px;  
  }  
  dt {
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 1.9;     
    float: left;
    &:after {
      content: ":　";
    }
  }  
  dd {
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 1.9;  
    color: #7e7b7b;
  }
}
//skill
.skill-content {  
  table {
    text-align: center;
    border: 2px solid #000;
    width: 50%;
    margin: 0 auto;      
  }  
  td {
    padding: 10px 20px;
  }  
}
//contact
.contact-content {
  text-align: center;  
  h3 {
    font-size: 24px;
    font-style: italic;
    letter-spacing: 0.08em;
    line-height: 2;
  }
}
footer {
  text-align: center;
  padding: 20px 0;
}
@media screen and (max-width: 768px){
  // base 
  .section-inner {
    width: 90%;
    margin: 60px auto;
  }
  .section-title {    
    margin-bottom: 30px;    
  }
  .header-container {
    padding: 20px 4vw;
  }
  .site-logo {
    width: 25%;  
  }
  .site-logo-black {
    width: 25%;
  }
  .nav-list {
    margin-left: 10px;    
  }
  .btn {    
    padding: 15px 30px;   
    margin-top: 50px;  
    width: 50%;
  }
  // main-sp
  .mv-img {  
    h1 {    
     font-size: 30px;              
    }
  }  
  .concept-content, .profile-content {    
    display: block;   
  }
  .my-photo, .my-photo2 {
    width: 50%;  
    margin: 0 auto 20px;    
  }
  .concept-text, .profile-text {     
    width: 90%; 
    text-align: center;    
    p, dd {
      text-align: left;
    }    
  }  
  .skill-content {    
    td {
      padding: 10px 5px;
      
    }  
  }
}
@media screen and (max-width: 425px){
  .my-photo, .my-photo2 {
    width: 70%;  
  }
  .brsp {
    display: block;
  }
}
@media screen and (max-width: 320px){
  .mv-img {     
    h1 {    
      font-size: 25px;         
    }
  }
}
